<div class="main-top">
  <div class="left-header">
    <div class="room-overview">
      <h1>hogefuga</h1>
    </div>
  </div>
  <div class="right-header">
    <div class="room-delete">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main-middle">

  <div class="user-messages">
    <div class="messages">
      <div class="message-name">
      Tom
      </div>
      <div class="message-time">
      2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="message-coments">
      <div class="message-coment">
      おはよう
      </div>
    </div>
  </div>

  <div class="user-messages">
    <div class="messages">
      <div class="message-name">
      Tom
      </div>
      <div class="message-time">
      2020/3/31(Wed) 12:47:30
      </div>
    </div>
    
    <div class="message-coments">
      <div class="message-coment">
      こんばんは
      </div>
    </div>
  </div>

</div>

<%= form_with model: [@room , @message] , class: "main-bottom" , local: true do |f|%>
  <div class="form">
    <%= f.text_field :content ,class: "form-text" , placeholder: "type a message"%>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image ,class: "hidden"%>
    </label>
  </div>
  <%= f.submit '送信' ,class: "form-btn"%>
<%end%>